.Dashboard-01 {
  @include fixed(70px, 0, 0, 0);

  @include media('>=992px') {
    width: 85%;
    margin: 0 auto;

    .play-view__image-wrapper {
      margin-top: 30px;
    }

    .play-view {
      @include absolute(15px , 0, 0);
      left: auto;
      width: 375px;

      .play-view__control {
        bottom : 15px;
      }
    }
    
    .Header--01 {
      position: absolute;
      right: auto;
      width: calc( 100% - 430px );
      height: 100%;

      .listTrack--wrapper {
        position: absolute;
        opacity: 1;
        visibility: visible;
        height: 100%;
        max-height: calc(100% - 107px);
        left: 15px;
        top: 62px;
        right: 15px;
        transform: translateX(0);

        &.show {
          transform: translateX(-100vw) !important;
        }
      }
    }

    .search-form-wrapper {
      position: static;
      width: 100%;
    }

    .search-result-wrapper {
      position: absolute;
      margin-top: 5px;
    }

    .overlay-01 {
      display: none;
    }

    .play-view__control {
      position: absolute;
      width: auto;
      z-index: 1001;
    }
  }

}

.Dashboard-02 {
  background-color: #dfdfdf;
  margin-top: 70px;
  
  .content {
    font-size: 0;
    max-width: 1200px;
    margin: 0 auto;
    min-height: calc(100vh - 70px);
    background-color: #fff;
    position: relative;
  }

  .main-content > .title {
    color: #1ea1f2;
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
  }

  .menu-sidebar-wrapper {
    display: inline-block;
    padding: 30px 15px;
    width: 20%;
    font-size: 16px;
    vertical-align: top;
    box-sizing: border-box;
    @include absolute(0, null, 0, 0);

    .account {
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;

      .user-images-wrapper {
        display: inline-block;
        width: 64px;
        vertical-align: middle;

        img {
          width: 100%;
        }
      }

      .user-infor {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        color: #333;
      }
    }

    .menu-sidebar {
      li {
        a {
          color: #333;
          font-weight: 500;
          display: block;
          padding: 10px 15px;
          border-bottom: 1px solid #ccc;
          transition: all 0.3s ease-in-out;
          
          &.active,
          &:hover {
            background-color: #1ea1f2;
            color: #fff;
          }
        }
      }
    }
  }

  .main-content {
    padding: 30px 0;
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
    margin-left: 20%;
    font-size: 14px;
    vertical-align: top;
    padding: 30px;

    .favourite-list {
      .item {
        position: relative;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: #eee;
        }

        .Track-edit {
          @include absolute(50%, 15px);
          transform: translateY(-50%);
        }
      }

      .TrackItem {
        padding: 12px 15px;
      }
    }
  }

  .btn-remove {
    cursor: pointer;
    color: #fff;
    background-color: #1ea1f2;
    font-size: 14px;
    padding: 6px 15px;
    border: none;
    border-radius: 3px;

  }

  @media screen and (max-width: 992px) {
    .menu-sidebar-wrapper {
      position: static;
      width: 100%;
    }

    .main-content {
      width: 100%;
      margin-left: 0;
    }
  }
}