.Header--01 {
  @include fixed(0, 0, null, 0);
  z-index: 100;
  transition: all 0.3s ease-in-out;

  &.hide {
    transform: translateY(-100%);

    .listTrack--wrapper {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.Header__content {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.search-wrapper {
  width: 100%;
}

.search-form-wrapper {
  width: 100%;
}

.search-form-01 {
  display: block;
  border: 2px solid #fff;
  border-radius: 4px;
  overflow: hidden;
}

.button-search-01 {
  position: absolute;
  // height: 100%;
  width: 38px;
  height: 38px;
  display: inline-block;
  border: none;
  font-size: 0;
  background-image: url('../images/search.png');
  background-size: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;

  * {
    color: #fff;
  }
}

// fix type in iphone
input, input:before, input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

.input-search-01 {
  vertical-align: middle;
  // background-color: #fff;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 9px 15px 8px;
  width: calc(100% - 70px);
  font-size: 20px;
  border-right: 2px solid transparent;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
    border-right-color: #fff
  }

  &::placeholder {
    color: #fff;
  }
}

.search-result-wrapper {
  background-color: #fff;
  list-style: none;
  position: fixed;
  width: calc( 100% - 30px );
    z-index: 9999999;
  min-height: 0;
  margin-top: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 25px #000;

  .item {
    margin-bottom: 10px;
    cursor: pointer;
  }

  &.show .search-result {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('./assets/images/spinner.png');
    @include absolute(50%, null, null, 50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  &.isLoading {
    min-height: 200px;

    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.search-result {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 400px;
  overflow-y: auto;
  height: 0;
  
  .suggestText {
    display: block;
    padding: 5px 15px;
  }

  .item {
    display: block;
    padding: 5px 15px;
    margin-bottom: 0;

    &:nth-child(even) {
      background-color: #efefef;
    }
  }
}

.lyric {
  padding: 15px;
  background-color: #fff;
  @include fixed(73px, 0, null, 0);
  // max-height: calc(100% - 261px);
  overflow-y: auto;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  text-align: center;
  min-height: calc(100vh - 261px);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;

  &.show {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .lyric__name {
    font-weight: 400;
    color: #333;
    margin-bottom: 4px;
    font-size: 15px;
  }

  .lyric__author {
    font-size: 13px;
    color: #555;
    display: inline-block;
  }

  .lyric__text {
    font-size: 14px;
    color: #333;
    margin-top: 20px;
  }

  @media screen and (min-width: 992px) {
    width: 80%;
    margin: 0 auto;
  }
}

.listTrack--wrapper {
  padding: 15px;
  background-color: #fff;
  @include fixed(73px, 0, null, 0);
  min-height: calc(100% - 261px);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  
  /*
   * css for scrollbar
   */

  // ::scrollbar {
  //     width: 10px;
  // }

  // ::scrollbar-track {
 //     background: red; 
  // }
  
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #7f49a6;
  }

  /*
   *  end css for scrollbar
   */

  ul {
    list-style: none;
    background-color: #fff;
  }

  .load {
    font-size: 14px;
    color: #999;
    text-align: center;
    position: relative;
    margin-top: 5px;
    opacity: 0;
    visibility: hidden;

    &:after {
      content: "";
      display: inline-block;
      @include relative(0, 0);
      width: 24px;
      height: 24px;
      margin: 0 auto;
      background-image: url('../images/spinner.png');
      // transition: all 0.3s ease-in-out;

      animation-name: spiner;
      animation-timing-function: linear;
      animation-duration: 2.5s;
      animation-iteration-count: infinite;
        // animation-direction: alternate-reverse;
    }

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  &.show {
    transform: translateX(0);
  }
  
  .grid-btn {
    opacity: 0.4;
  }

  &.toggle-modify {
    .list-btn {
      opacity: 0.4;
    }

    .grid-btn {
      opacity: 1;
    }

    .listTrack {
      margin: -5px;
      font-size: 0;

      .item {
        box-sizing: border-box;
        display: inline-block;
        width: 50%;
        padding: 5px;
        font-size: 16px;
      }
    }
  }
}

.modify-listTrack-btn {
  // display: none;
  margin-bottom: 20px;

  .toggle-list-grid {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-right: 30px;
  }

  .list-btn {
    background-image: url("../images/list.png");
  }

  .grid-btn {
    background-image: url("../images/grid.png");
  }
}

@keyframes spiner{
  0% {transform: rotateZ(0deg)}
  100% {transform: rotateZ(360deg)}
}
// .button--01,
// .logo {
//  color: #fff;
//  font-size: 30px;
// }

@media screen and (min-width: 678px) {
  .modify-listTrack-btn {
    display: inline-block;
    margin-left: 10px;
  }
}

.menu-wrapper {
  $height: 70px;
  $dis: 5px;
  
  @include fixed(0, 0, null, 0);
  background-color: #222b33;
  z-index: 10;
  height: $height;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .logo {
    margin-left: $dis;
    float: left;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    height: $height - $dis*4;
    padding: $dis;
    margin-top: $dis;
    position: relative;

    img {
      height: 100%;
      vertical-align: middle;  
    }

    .text {
      @include absolute(50%, null, null, calc(100% + 6px));
      color: #fff;
      transform: translateY(-50%);
    }
  }
  
  .trigger {
    display: none;

    @media screen and (max-width: 992px) {
      display: block;
      width: 70px;
      height: 70px;
      @include absolute(0, 0);
      transition: all 0.3s ease-in-out;
      line-height: 88px;
      cursor: pointer;
      text-align: center;

      img {
        width: 30px;
      }

      &.active {
        background-color: #0a3e69;
      }
    }
  }

  @media screen and (max-width: 992px) {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;

    &.show {
      transform: translateY(0);
    }
  }

  .menu-01 {
    float: right;
    height: 100%;
    font-size: 0;

    .item {
      display: inline-block;
      background-color: #0a3e69;
      vertical-align: top;
      
      &:not(:last-child) {
        border-right: 1px solid #999;
      }

      a {
        display: inline-block;
        height: $height;
        line-height: $height;
        font-weight: 500;
        padding: 0 30px;
        color: #ccc;
        font-size: 13px;
        text-transform: uppercase;
        border-top: 2px solid transparent;
        transition: all 0.3s ease-in-out;
        box-sizing: border-box;

        &:hover {
          border-color: #128ff3;
        }     
      }

      &.account-item {
        .item {
          position: relative;
          vertical-align: top;
          
          &.upload-item {
            position: relative;
            height: 70px;
            width: 151px;
          }
        }

        #music-file {
          visibility: hidden;
          @include absolute(0, 0, 0, 0);
          opacity: 0;
        }

        #music-label {
          cursor: pointer;
          @include absolute(0, 0, 0, 0);
          line-height: 70px;
          padding: 0 10px;
          font-size: 16px;
          color: #ccc;
          display: inline-block;
          position: relative;
        }
      }
    }

    @media screen and (max-width: 992px) {
      @include fixed(70px, 0, null, 0);
      padding: 0 calc(100% - 400px);
      transform: translateX(102%);
      transition: all 0.3s ease-in-out;

      .item {
        display: block;
        width: 100%;
      }

      a {
        width: 100%;
      }

      form {
        width: 100%;
        padding: 0 20px;
      }

      &.show {
        transform: translateX(0);
      }
    }
  }
}

.menu-wrapper-02 {
  @media screen and (max-width: 992px) {
    transform: translateY(0) !important;
  }
}